<h3>Log In:</h3>
<%= form_for(:session, url: login_path) do |f| %><!--:user-->
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br></br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br></br>
  <%= f.submit "Login" %>
  <br></br>
<% end %>
<%= link_to 'Back', root_path %>
