<fieldset>
<legend>
  <h3>Users Directory</h3>
</legend>
<ul>
  <li>
    <% if logged_in? %>
      <%= link_to "You", user_path(current_user) %>
      - Review Count:
      (<%= current_user.reviews.count %>)
    <% end %>
  </li>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email.upcase_first, user %>
      - Review Count:
      (<%= user.reviews.count %>)
    </li>
  <% end %>
</ul>
<%= page_entries_info @users %>
<%= paginate @users, window:2 %>
</fieldset>
<br/>
