<fieldset>
<legend>
  <h3>User Page</h3>
</legend>
<br/>
<ul>
  <li>Current Email:
    <%= @user.email %>
  </li>
  <br/>
  <% if @user.reviews.any? %>
  <li>
    <b>Total Reviews Submitted:</b>&ensp;
    (<%= @user.reviews.count %>)
  </li>
  <br/>
  <ol>
    <li>
      <%= link_to review.try(:restaurant).try(:name).upcase_first, review %> <!--AR .try method to keep DRY instead of if nil-->
      was visited by
      <% if current_user == review.user %>
        <b>you</b>
      <% else %>
        <b><%= review.user.email %></b>
      <% end %>
      on <%= review.date_visited.strftime("%m/%d/%Y") %>.&ensp;
      (Posted <%= time_ago_in_words(review.updated_at) %> ago.)
    </li>
  </ol>
  <% end %>
    
  <% if current_user == @user %>
  <li>
    <%= link_to "Submit New Review", new_user_review_path(@user) %>
  </li>
  <br/>
  <li> Change User Settings:
    <%= link_to "Edit User", edit_user_path %>
  </li>
  <% end %>
</ul>
</fieldset>
<br/>
