<fieldset>
<legend>
  <h3>User Page</h3>
</legend>
<br/>
<ul>
<li>Current Email: <%= @user.email %></li>
  <br/>
  <% if @user.reviews.any? %>
    <li>
      Restaurant Reviews Submitted (Total: <%= @user.reviews.count %>)
    </li>
  <br/>
      <ol>
        <%= render @reviews %>
      </ol>
  <% end %>
<% if current_user == @user %>
  <li><%= link_to "Submit New Review", new_user_review_path(@user) %></li>
  <br/>
  <li> Change User Settings:
    <%= link_to "Edit User", edit_user_path %>
  </li>
<% end %>
</ul>
</fieldset>
<br/>
