<fieldset>
<legend>
  <h3>Restaurants Directory (Click on a 'link'):</h3>
</legend>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant %>
    </li>
  <% end %>
</ul>
</fieldset>
</br>
<%= link_to "Back", root_path %>
<% if logged_in? %>
  <%= link_to "User Page", user_path(current_user) %>
<% end %>
<%= link_to "See Reviews", reviews_path %>
<%= link_to "Top Reviews", reviews_path(rating: "Excellent") %>
