<fieldset>
<legend>
  <h3>Restaurant Directory (<%= @restaurants.count %>)</h3>
  <%= paginate @restaurants %>
</legend>
  <ol>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant %>
      </li>
    <% end %>
  </ol>
</fieldset>
<br/>
<%= render '/reviews/links' %>
<%= link_to "All Reviews", reviews_path %>
