<fieldset>
<legend>
  <h3>Restaurant Directory</h3>
</legend>
  <ol>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant %>
      </li>
    <% end %>
  </ol>
</fieldset>
<%= page_entries_info @restaurants %>
<%= paginate @restaurants, window:2 %>
<br/>
<%= render '/reviews/links' %>
<%= link_to "All Reviews", reviews_path %>
