<fieldset>
<legend>
  <h3>Restaurant Page</h3>
</legend>
<ul>
<li>Name: <strong><%= @restaurant.name %> Restaurant</strong></li>
  </br>
  <% if @restaurant.reviews.any? %>
    <li>Reviews Submitted For Restaurant (Total: <%= @restaurant.reviews.count %>)
    </li>
  </br>
      <ol>
        <%= render @reviews %>
      </ol>
  <% end %>
</ul>
</fieldset>
</br>
<%= link_to "Back", restaurants_path %>
<% if logged_in? %>
  <%= link_to "User Page", user_path(current_user) %>
<% end %>
<%= link_to "See Reviews", reviews_path %>
<%= link_to "Top Reviews", reviews_path(rating: "Excellent") %>
