<fieldset>
<legend>
  <h3>Restaurant Page</h3>
</legend>
<ul>
  <li>Name: <b><%= @restaurant.name %> Restaurant</b></li>
    <br/>
  <li>Cuisine Type(s): <!--show ALL cuisines from ALL reviews of specific restaurant-->
    <% @restaurant.cuisines.each do |cuisine| %>
      <%= cuisine.name %> <!-- has many to has-many relationship -->
    <% end %>
  </li>
    <br/>
  <% if @restaurant.reviews.any? %>
    <li>(<%= @restaurant.reviews.count %>) Reviews Submitted:
    </li>
    <br/>
      <ol>
        <%= render @reviews %>
      </ol>
  <% end %>
  <br/>
  <li>For more info about this restaurant, 'click' to web search for:
    <a href = 'http://www.<%= "#{@restaurant.name}" %>.com'><%= @restaurant.name %></a>
  </li>
  <br/>
  <% if logged_in? %>
    <li><%= link_to "Submit New Review", new_review_path %></li>
  <% end %>
</ul>
</fieldset>
<br/>
<% if logged_in? %>
  <%= render '/reviews/links' %>
<% else %>
  <%= link_to "Back", restaurants_path %>
<% end %>
<%= link_to "All Reviews", reviews_path %>
