<fieldset>
<legend>
  <h3>Restaurant Page</h3>
</legend>
</br>
<ul>
  <li>Name: <b><%= @restaurant.name.upcase_first %> Restaurant</b></li>
    <br/>
  <li>Cuisine Type(s): <!--show ALL cuisines from ALL reviews of specific restaurant-->
    <%= @restaurant.cuisines.map{|cuisine| cuisine.name}.join(', ').to_s + "." %>
  </li>
    <br/>
  <% if @restaurant.reviews.any? %>
    <li>(<%= @restaurant.reviews.count %>) Reviews Submitted:
    </li>
    <br/>
            <!--<ol>
        <%= render @reviews %>
      </ol>-->
  <% end %>
  <li>
      <%= link_to "Load Reviews", restaurant_reviews_path(@restaurant), :class => "load_reviews" %>
  </li>

    <div class="reviews">
      <ol></ol>
    </div>

  <li>For more info about this restaurant, 'click' to web search for:
    <a href = 'http://www.<%= "#{@restaurant.name}" %>.com'><%= @restaurant.name %></a>
  </li>
  <% if logged_in? %>
    <br/>
    <li><%= link_to "Submit New Review", new_review_path %></li>
  <% end %>
</ul>
</fieldset>
<br/>
<% if logged_in? %>
  <%= render '/reviews/links' %>
<% else %>
  <%= link_to "Back", restaurants_path %>
<% end %>
<%= link_to "All Reviews", reviews_path %>
