<%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %>
        prohibited this review from being saved:
      </h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :restaurant_name, "Restaurant Name" %>
    <%= f.text_field :restaurant_name %>
    <br></br>
    <%= f.label :content %>
    <%= f.text_area :content rows="5" cols="98" placeholder="Enter your restaurant here:" %>
    <br></br>
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine, list: "cuisines_autocomplete" %>
      <datalist id="cuisines_autocomplete">
        <% Review.cuisine.all.each do |cuisine| %>
        <option value="<%= review.cuisine %>">
        <% end %>
      </datalist>
    <br></br>
    Choose Rating for the restaurant from the following (4) choices:
    <%= f.label :rating, 'Excellent', :value => 'Excellent' %>
    <%= f.radio_button :rating, 'Excellent' %>
    <%= f.label :rating, 'Good', :value => 'Good' %>
    <%= f.radio_button :rating, 'Good' %>
    <%= f.label :rating, 'Average', :value => 'Average' %>
    <%= f.radio_button :rating, 'Average' %>
    <%= f.label :rating, 'Poor', :value => 'Poor' %>
    <%= f.radio_button :rating, 'Poor' %>
    <br></br>
    <%= f.label :review_date %>
    <%= f.date_field :review_date %>
    <br></br>
    <%= f.submit "Save Review" %>
  </fieldset>
<% end %>
<br></br>
<%= link_to 'Back', @user%>
