<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <!-- Following nested form writing to assoc. Restaurant model use custom attr writer restaurant_name-->
  <br/>
      <%= f.hidden_field :user_id %>
    <div class="field">
      <%= f.label :restaurant_name, "Restaurant Name:" %> &ensp;
      <%= f.text_field :restaurant_name %>
      <br></br>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Enter Review Comments:", rows: 5, cols: 100 %>
      <br></br> <!--Following user submits nested_attribute, cuisine -->
    </div>
    <div class="field">
      <%= f.label :cuisine, "Choose Cuisine(s):" %> &ensp;
      <%= f.collection_check_boxes :cuisine_ids, Cuisine.all, :id, :name %>
      <%= f.fields_for :cuisines, @review.cuisines.build do |cuisine_form| %>
        <%= cuisine_form.text_field :name, placeholder: "Enter New Cuisine:" %>
      <% end %>
      <br></br>
    </div>
    <div class="field">
      Restaurant Rating: &ensp;
      <%= f.label :rating, 'Excellent:', value: 'Excellent' %>
      <%= f.radio_button :rating, 'Excellent' %>
      <%= f.label :rating, 'Good:', value: 'Good' %>
      <%= f.radio_button :rating, 'Good' %>
      <%= f.label :rating, 'Average:', value: 'Average' %>
      <%= f.radio_button :rating, 'Average' %>
      <%= f.label :rating, 'Poor:', value: 'Poor' %>
      <%= f.radio_button :rating, 'Poor' %>
      <br></br>
    </div>
    <div class="field">
      <%= f.label :date_visited, "Date Visited (or today, #{Time.now.strftime("%m/%d/%Y")}):" %> &ensp;
      <%= f.date_field :date_visited %>
      <br></br>
    </div>
    <div class="actions">
      <%= f.submit "Save Review" %>
      </br>
    </div>
<% end %>

<div id="reviewResult">
  <h3 id="restaurantName"></h3>
  <span id="reviewBody"></span>
  <span id="reviewCuisines"></span>
  <span id="reviewRating"></span>
  <span id="reviewDateVisited"></span>
</div>

<div id="productResult">
  <h2 id="productName"></h2>
  <span id="productPrice"></span>
  <p id="productDescription"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/reviews', values);

      posting.done(function(data) {
        var review = data;
        $("#restaurantName").text(review["restaurant"]["name"]);
        $("#reviewBody").text(review["content"]);
        $("#reviewCuisines").text(review["cuisines"]);
        $("#reviewRating").text(review["rating"]);
        $("#reviewDateVisited").date(review["date_visited"]);
      });
    });
  });
</script>
