<fieldset>
<legend>
  <h3>List of restaurant reviews by date visited (Click on a 'link'):</h3>
</legend>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.try(:restaurant).try(:name), review %>
      visited on <%= review.date_visited.strftime("%m/%d/%Y") %>
      by
      <% if current_user == review.user %>
        <strong>you.</strong>
      <% else %>
        <%= review.user.email %>.
      <% end %>
      &ensp;
      (Submitted <%= time_ago_in_words(review.updated_at) %> ago.)
    </li>
  <% end %>
</ul>
</fieldset>
</br>
<%= link_to "Back", root_path %>
<% if logged_in? %>
  <%= link_to "User Page", user_path(current_user) %>
<% end %>
<%= link_to "All Restaurants", restaurants_index_path %>
<%= link_to "Top Reviews", top_reviews_reviews_path %>
