<fieldset>
<legend>
  <h3>Restaurant Reviews By Date Visited (Click on a 'link'):</h3>
</legend>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.try(:restaurant).try(:name), review %>
      visited on <%= review.date_visited.strftime("%m/%d/%Y") %>
      by
      <% if current_user == review.user %>
        <strong>you.</strong>
      <% else %>
        <%= review.user.email %>
      <% end %>
      &ensp;
      (Submitted <%= time_ago_in_words(review.updated_at) %> ago.)
    </li>
  <% end %>
</ul>
</fieldset>
</br>
<% if logged_in? %>
  <fieldset>
    <legend>
      <h3>Filter Reviews By User</h3>
    </legend>
    <%= form_tag("/reviews", method: "get") do %>
      <%= select_tag "user", options_from_collection_for_select(@users, "id", "email"), include_blank: false %>
      <%= submit_tag "Filter" %>
    <% end %>
  </fieldset>
</br>
<% end %>
<%= link_to "Back", root_path %>
<% if logged_in? %>
  <%= link_to "User Page", user_path(current_user) %>
<% end %>
<%= link_to "All Restaurants", restaurants_path %>
<%= link_to "Top Reviews", reviews_path(rating: "Excellent") %>
