<fieldset>
<legend>
  <h3>Restaurant Reviews:</h3>
 </legend>
 </br>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.try(:restaurant).try(:name), restaurant_reviews_path(review.restaurant) %>
      visited on <%= review.date_visited.strftime("%m/%d/%Y") %>
      by
      <% if current_user == review.user %>
        <b><%= link_to "you", user_reviews_path(review.user) %></b>
      <% else %>
        <%= link_to review.user.email, user_reviews_path(review.user) %>
      <% end %>&emsp;
      (Posted <%= time_ago_in_words(review.updated_at) %> ago.)&emsp;
      <%= link_to "Read Review", review %>
    </li>
  <% end %>
</ul>
<%= page_entries_info @reviews %>
<%= paginate @reviews, window:2 %>
</fieldset>
<br/>
<% if logged_in? %>
  <fieldset>
    <legend>
      <h3>
        Filter Reviews By User
      </h3>
    </legend>
    <%= form_tag("/reviews", method: "get") do %>
      <%= select_tag "user", options_from_collection_for_select(@users, "id", "email"), include_blank: false %>
      <%= submit_tag "Filter" %>
    <% end %>
  </fieldset>
<br/>
<% end %>
<%= render 'links' %>
<%= link_to "All Restaurants", restaurants_path %>
