<fieldset>
<legend>
  <h3>Here is a list of restaurant reviews (Click on a 'link'):</h3>
</legend>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.try(:restaurant).try(:name), review %>
      reviewed by
      <% if current_user == review.user %>
        you
      <% else %>
        <%= review.user.email %>
    <% end %>
    </li>
  <% end %>
</ul>
</fieldset>
</br>
<%= link_to "Back", root_path %>
<%= link_to "All Restaurants", restaurants_index_path %>
<%= link_to "Top Reviews", reviews_top_reviews_path %>
