<fieldset>
<legend>
  <h3 class="restaurantName">
    <% if current_user == @review.user %>
    Your
    <% end %>
    Review of "<%= link_to "#{@current_restaurant.name.upcase_first}", restaurant_path(@current_restaurant) %> Restaurant"
  </h3>
</legend>
<br/>
<ul>
  <li class="reviewBody">
    Comments: "<%= @review.content %>"
  </li>
  <br/>
  <li class="reviewCuisines">
    Cuisine(s):
    <%= @review.cuisines.map{|cuisine| cuisine.name}.join(', ').to_s + "." %>
  </li>
  <br/>
  <li class="reviewRating">
    Rating:
    <% if @review.rating == "Excellent" %>
      <b>**<%= link_to "#{@review.rating}", reviews_path(rating: "Excellent") %>**</b>
    <% elsif @review.rating == "Good" %>
      <b>**<%= @review.rating %>*</b>
    <% elsif @review.rating == "Average" %>
      <b>*<%= @review.rating %>*</b>
    <% else %>
      <b>*<%= @review.rating %></b>
    <% end %>
  </li>
  <br/>
  <li class="reviewDateVisited">
    <%= @review.date_visited.strftime("Date Visited: %m/%d/%Y") %>
  </li>
  <br/>
  <li class="reviewUpdatedAt">
    <%= @review.updated_at.strftime("Date Reviewed: %m/%d/%Y") %>
  </li>
  <br/>
<% if current_user != @review.user %> <!--show only another's username-->
  <li class="userEmail">
    Reviewed by:
    <b><%= @review.user.email %></b>
  </li>
  <br/>
<% end %>
  <li>
    For more info about this restaurant, 'click' to web search for:
    <a href = 'http://www.<%= "#{@current_restaurant.name}" %>.com'><%= @current_restaurant.name %></a>
  </li>
  <br/>
  <li>
    <%= link_to "Edit Review", edit_user_review_path(@review.user, @review) if @review.user %>
  </li>
  <br/>
  <li>
    <%= link_to "Load More Reviews", restaurant_reviews_path(@review.restaurant), :class => "load_reviews" %>
  </li>
  <div class="reviews">
    <ol></ol>
  </div>
  <button class="js-next" data-id="<%=@review.id%>">Next Review...
  </button>
</ul>
</fieldset>
<br/>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/reviews/" + nextId + ".json", function(data) {
      var review = data;
      $(".restaurantName").text(review["restaurant"]["name"]);
      $(".reviewBody").text("Comments:" + review["content"]);
      $(".reviewCuisines").text("Cuisines:" + review["cuisine"]["name"]);
      $(".reviewRating").text(review["rating"]);
      $(".reviewDateVisited").date(review["date_visited"]);
      $(".reviewUpdatedAt").date(review["updated_at"]);
      $(".userEmail").text(review["user"]["email"]);
// re-set the id to current on the link
      $(".js-next").attr("data-id", review["id"]);
    });
  });
});
</script>
