<fieldset>
<legend>
  <h3>Here is the review of "<%= @review.restaurant_name %>"</h3>
</legend>
<ul>
  <li>Comments: <%= @review.content %></li>
  <li>Cuisine(s):
    <% @review.cuisines.each do |cuisine| %>
      <%= cuisine.name %>
      <% end %>
  </li>
  <li>Rating: <%= @review.rating %></li>
  <li><%= @review.date_visited.strftime("Date Visited: %m/%d/%Y") %></li> <!--Date MO/DY/YEAR-->
  <li><%= @review.updated_at.strftime("Date Reviewed: %m/%d/%Y") %></li> <!--Date MO/DY/YEAR-->
<% if current_user != @review.user %> <!--show only another's username-->
  <li>Reviewed by: <strong><%= @review.user.email %></strong></li>
<% end %>
  <li>For more info about this restaurant, search for their website:
    <a href = 'http://www.<%= "#{@review.restaurant_name}" %>.com' value = "#{@review.restaurant_name}"><%= @review.restaurant_name %>
    </a>
</ul>
</fieldset>
</br>
<% if current_user == @review.user %><!--review belongs to current user or not?-->
  <%= link_to "Back", @reviews %>
  <%= link_to "Edit Review", edit_review_path %>
  <% else %>
<%= link_to "Back", @reviews %>
Need Link to All Restaurants
<% end %>
