<h3>Here is the review of "<%= @review.restaurant_name %>":</h3>
<ul>
  <li>Comments: <%= @review.content %></li>
  <li>Cuisine: <%= @review.cuisine %></li>
  <li>Rating: <%= @review.rating %></li>
  <li><%= @review.review_date.strftime("Date Reviewed: %m/%d/%Y") %></li> <!--Date MO/DY/YEAR-->
<% if current_user != @review.user %> <!--show only another's username-->
  <li>Reviewed by: <strong><%= @review.user.email %></strong></li>
  <li>For more info about this restaurant,
    <a href = "http://www.google.com/#{@review.restaurant_name}" value = "Google Search">Google
    </a>
<% end %>
</ul>

<% if current_user == @review.user %><!--review belongs to current user or not?-->
  <%= link_to "Edit Review", edit_review_path %>
  <%= link_to "Back", @user %>
<% end %>
<br></br>
<%= link_to "Back", @reviews %>
<%= link_to "All Restaurants", restaurants_index_path %>
