<fieldset>
<legend>
  <h3><% if current_user == @review.user %>
    Your
    <% end %>
    Review of "<%= link_to "#{@current_restaurant.name}", restaurant_path(@current_restaurant) %> Restaurant":</h3>
</legend>
<ul>
  <li>Comments: "<%= @review.content %>"</li>
  <li>Cuisine(s):
    <% @review.cuisines.each do |cuisine| %>
      <%= cuisine.name %>
      <% end %>
  </li>
  <li>Rating:
    <% if @review.rating == "Excellent" %>
      <b>**<%= link_to "#{@review.rating}", reviews_path(rating: "Excellent") %>**</b>
    <% elsif @review.rating == "Good" %>
      <b>**<%= @review.rating %>*</b>
    <% elsif @review.rating == "Average" %>
      <b>*<%= @review.rating %>*</b>
    <% else %>
      <b>*<%= @review.rating %></b>
    <% end %>
  </li>
  <li><%= @review.date_visited.strftime("Date Visited: %m/%d/%Y") %></li>
  <li><%= @review.updated_at.strftime("Date Reviewed: %m/%d/%Y") %></li>
<% if current_user != @review.user %> <!--show only another's username-->
  <li>Reviewed by: <b><%= @review.user.email %></b></li>
<% end %>
  <li>For more info about this restaurant, 'click' to web search for:
    <a href = 'http://www.<%= "#{@current_restaurant.name}" %>.com'><%= @current_restaurant.name %></a>
  </li>
  <% if current_user == @review.user %>
    <li><%= link_to "Edit Review", edit_review_path %></li>
  <% end %>
</ul>
</fieldset>
<br/>
<% if current_user == @review.user %><!--review belongs to current user or not?-->
  <%= link_to "Back", user_path(current_user) %>
  <%= link_to "New Review", new_review_path %>
<% else %>
  <%= link_to "Back", reviews_path %>
  <%= link_to "All Restaurants", restaurants_path %>
<% end %>
