<!DOCTYPE html>
<html>
  <head>
    <title>My Restaurant Review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <a href = "/">Home</a>
        <%= link_to "Welcome, <%= current_user.email", user_path(@user)%>/a>
        <a href = "/logout">Logout</a>
      <% else %>
        <a href = "/">Home</a>
        <a href = '/signup'>Signup</a>
        <a href = '/login'>Login</a>
      <% end %>
    </nav>

    <div class = "container">
      <h1>My Restaurant Review</h1>
      <%= yield %>
    </div>
  </body>
</html>
