<!DOCTYPE html>
<html>
  <head>
    <title>My Restaurant Review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <% if logged_in? %>
        <%= link_to "#{current_user.email.upcase_first}", user_path(current_user) %>
        <strong>Reviews</strong>
        <%= link_to "See Users", users_path %>
        <%= link_to "Settings", edit_user_path(current_user) %>
        <%= link_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", signup_path %>
        %= link_to "Login Via GitHub", '/auth/github') %>
      <% end %>

      <% flash.each do |name, msg| -%>
        <strong><%= content_tag :div, msg, class: name %></strong>
      <% end -%>
    </nav>

    <div class = "container">
      <h1>My Restaurant Review</h1>
      <%= yield %>
    </div>
  </body>
</html>
